function Game1.new 0
push constant 9
call Memory.alloc 1
pop pointer 0
call Map1.new 0
pop this 1
push constant 1
push constant 16
call Math.multiply 2
push constant 12
push constant 16
call Math.multiply 2
push constant 15
add
call Player.new 2
pop this 0
push constant 0
pop this 2
push constant 1
pop this 3
push constant 0
pop this 4
push constant 0
not
pop this 5
push constant 0
not
pop this 6
push constant 0
not
pop this 7
push constant 0
pop this 8
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push this 4
sub
call Output.printInt 1
pop temp 0
push pointer 0
return
function Game1.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push this 1
call Map1.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game1.run 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 64
neg
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push constant 0
pop this 2
push local 0
push constant 140
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 3
label IF_FALSE0
push local 0
push constant 131
eq
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map1.onGround 3
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 8
pop local 1
label IF_FALSE1
push local 1
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push this 3
call Player.moveUp 2
pop temp 0
push local 1
push constant 1
sub
pop local 1
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
pop this 3
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map1.blockLeft 3
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE4
label IF_FALSE3
push local 0
push constant 132
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 1
pop this 3
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map1.blockRight 3
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
call Player.moveRight 1
pop temp 0
label IF_FALSE6
label IF_FALSE5
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map1.onGround 3
not
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push this 0
push this 3
call Player.moveDown 2
pop temp 0
label IF_FALSE7
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map1.finished 3
push this 8
and
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 0
not
pop local 3
label IF_FALSE8
push this 0
call Player.getX 1
push constant 15
push constant 16
call Math.multiply 2
gt
push this 5
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 1
call Map1.fakeGround 1
pop temp 0
push constant 0
pop this 5
label IF_FALSE9
push this 0
call Player.getX 1
push constant 27
push constant 16
call Math.multiply 2
gt
push this 7
and
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
pop this 7
push this 1
call Map1.fakeCastleDisapper 1
pop temp 0
label IF_FALSE10
push this 0
call Player.getX 1
push constant 24
push constant 16
call Math.multiply 2
gt
push this 0
call Player.getX 1
push constant 24
push constant 16
call Math.multiply 2
push constant 4
add
lt
and
push this 0
call Player.getY 1
push constant 12
push constant 16
call Math.multiply 2
push constant 15
add
eq
and
push this 6
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push this 0
call Player.drawSlip 1
pop temp 0
push constant 0
not
pop local 2
label IF_FALSE11
push this 0
call Player.getY 1
push constant 15
push constant 16
call Math.multiply 2
push constant 14
add
gt
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 0
not
pop local 2
label IF_FALSE12
push this 0
call Player.getX 1
push constant 2
lt
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 0
pop this 5
push constant 0
pop this 6
push constant 0
pop this 7
push constant 0
not
pop this 8
push this 1
call Map1.screen2 1
pop temp 0
push this 0
call Player.screen2 1
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push this 4
sub
call Output.printInt 1
pop temp 0
label IF_FALSE13
push local 2
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 4
push constant 1
add
pop this 4
push constant 0
pop local 2
push constant 1000
call Sys.wait 1
pop temp 0
push this 1
call Map1.restart 1
pop temp 0
push this 0
push constant 1
push constant 16
call Math.multiply 2
push constant 12
push constant 16
call Math.multiply 2
push constant 15
add
call Player.restart 3
pop temp 0
push constant 0
pop this 2
push constant 1
pop this 3
push constant 0
not
pop this 5
push constant 0
not
pop this 6
push constant 0
not
pop this 7
push constant 0
pop this 8
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push this 4
sub
call Output.printInt 1
pop temp 0
label IF_FALSE14
push constant 15
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
