function Game2.new 0
push constant 14
call Memory.alloc 1
pop pointer 0
call Map2.new 0
pop this 1
push constant 1
push constant 16
call Math.multiply 2
push constant 12
push constant 16
call Math.multiply 2
push constant 15
add
call Player.new 2
pop this 0
push constant 0
pop this 2
push constant 4
push constant 16
call Math.multiply 2
pop this 3
push constant 15
push constant 16
call Math.multiply 2
push constant 15
add
pop this 4
push constant 19
push constant 16
call Math.multiply 2
pop this 5
push constant 1
push constant 16
call Math.multiply 2
push constant 15
add
pop this 6
push constant 1
pop this 7
push constant 0
pop this 8
push constant 0
not
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 0
pop this 12
push constant 0
not
pop this 13
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push this 8
sub
call Output.printInt 1
pop temp 0
push pointer 0
return
function Game2.restart 0
push argument 0
pop pointer 0
push this 0
push constant 1
push constant 16
call Math.multiply 2
push constant 12
push constant 16
call Math.multiply 2
push constant 15
add
call Player.restart 3
pop temp 0
push this 1
call Map2.restart 1
pop temp 0
push constant 0
pop this 2
push constant 4
push constant 16
call Math.multiply 2
pop this 3
push constant 15
push constant 16
call Math.multiply 2
push constant 15
add
pop this 4
push constant 19
push constant 16
call Math.multiply 2
pop this 5
push constant 1
push constant 16
call Math.multiply 2
push constant 15
add
pop this 6
push constant 1
pop this 7
push constant 0
pop this 8
push constant 0
not
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 0
pop this 12
push constant 0
not
pop this 13
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push this 8
sub
call Output.printInt 1
pop temp 0
push constant 0
return
function Game2.dispose 0
push argument 0
pop pointer 0
push this 0
call Player.dispose 1
pop temp 0
push this 1
call Map2.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game2.run 4
push argument 0
pop pointer 0
push constant 0
pop local 0
push constant 64
neg
pop local 1
push constant 0
pop local 2
push constant 0
pop local 3
label WHILE_EXP0
push local 3
not
not
if-goto WHILE_END0
call Keyboard.keyPressed 0
pop local 0
push constant 0
pop this 2
push local 0
push constant 140
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop local 3
label IF_FALSE0
push local 0
push constant 131
eq
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map2.onGround 3
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 8
pop local 1
label IF_FALSE1
push local 1
push constant 0
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 12
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 1
push this 0
call Player.getY 1
push constant 32
sub
push constant 16
call Math.divide 2
push constant 32
call Math.multiply 2
push this 0
call Player.getX 1
push constant 16
call Math.divide 2
add
push this 1
push this 0
call Player.getY 1
push constant 32
sub
push constant 16
call Math.divide 2
push constant 32
call Math.multiply 2
push this 0
call Player.getX 1
push constant 16
call Math.divide 2
add
call Map2.mapValue 2
call Map2.Drawblock 3
pop temp 0
label IF_FALSE3
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map2.blockUp 3
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 0
push this 7
call Player.moveUp 2
pop temp 0
label IF_FALSE4
push local 1
push constant 1
sub
pop local 1
label IF_FALSE2
push local 0
push constant 130
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push constant 2
pop this 7
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map2.blockLeft 3
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 0
call Player.moveLeft 1
pop temp 0
label IF_FALSE6
label IF_FALSE5
push local 0
push constant 132
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 1
pop this 7
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map2.blockRight 3
not
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push this 0
call Player.moveRight 1
pop temp 0
label IF_FALSE8
label IF_FALSE7
push this 0
call Player.getX 1
push constant 10
push constant 16
call Math.multiply 2
gt
push this 0
call Player.getY 1
push constant 11
push constant 16
call Math.multiply 2
push constant 8
add
gt
and
push this 9
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 1
call Map2.fakeGround 1
pop temp 0
push constant 0
pop this 9
label IF_FALSE9
push this 0
call Player.getX 1
push constant 22
push constant 16
call Math.multiply 2
gt
push this 0
call Player.getY 1
push constant 13
push constant 16
call Math.multiply 2
push constant 15
add
gt
and
push this 12
not
and
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push constant 0
not
pop this 12
push this 1
call Map2.headBlock 1
pop temp 0
label IF_FALSE10
push this 0
call Player.getX 1
push constant 28
push constant 16
call Math.multiply 2
push constant 8
sub
gt
push this 0
call Player.getX 1
push constant 30
push constant 16
call Math.multiply 2
push constant 8
sub
lt
and
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push constant 0
pop this 10
push constant 4
push constant 16
call Math.multiply 2
pop this 3
push constant 15
push constant 16
call Math.multiply 2
push constant 15
add
pop this 4
push this 0
push this 7
call Player.float 2
pop temp 0
label IF_FALSE11
push this 10
not
push this 0
call Player.getX 1
push constant 4
push constant 16
call Math.multiply 2
push constant 5
sub
gt
and
push this 0
call Player.getX 1
push constant 5
push constant 16
call Math.multiply 2
push constant 5
sub
lt
and
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push constant 0
not
pop this 10
label IF_FALSE12
push this 10
if-goto IF_TRUE13
goto IF_FALSE13
label IF_TRUE13
push constant 0
call Screen.setColor 1
pop temp 0
push this 3
push this 4
push constant 15
sub
push this 3
push constant 10
add
push this 4
call Screen.drawRectangle 4
pop temp 0
push this 4
push constant 8
sub
push constant 15
gt
if-goto IF_TRUE14
goto IF_FALSE14
label IF_TRUE14
push this 4
push constant 8
sub
pop this 4
push this 1
push this 3
push this 4
call Map2.drawArrow 3
pop temp 0
label IF_FALSE14
label IF_FALSE13
push this 10
push this 0
call Player.getY 1
push this 4
push constant 16
sub
gt
and
push this 0
call Player.getY 1
push this 4
push constant 27
add
lt
and
push this 0
call Player.getX 1
push this 3
push constant 5
sub
gt
and
push this 0
call Player.getX 1
push this 3
push constant 9
add
lt
and
if-goto IF_TRUE15
goto IF_FALSE15
label IF_TRUE15
push constant 0
not
pop local 2
label IF_FALSE15
push this 11
not
push this 0
call Player.getX 1
push constant 19
push constant 16
call Math.multiply 2
push constant 8
sub
gt
and
push this 0
call Player.getX 1
push constant 21
push constant 16
call Math.multiply 2
push constant 8
sub
lt
and
if-goto IF_TRUE16
goto IF_FALSE16
label IF_TRUE16
push constant 0
not
pop this 11
label IF_FALSE16
push this 11
if-goto IF_TRUE17
goto IF_FALSE17
label IF_TRUE17
push this 6
push constant 10
push constant 16
call Math.multiply 2
push constant 15
add
lt
if-goto IF_TRUE18
goto IF_FALSE18
label IF_TRUE18
push constant 0
call Screen.setColor 1
pop temp 0
push this 5
push this 6
push constant 31
sub
push this 5
push constant 31
add
push this 6
call Screen.drawRectangle 4
pop temp 0
push this 6
push constant 8
add
pop this 6
label IF_FALSE18
push this 1
push this 5
push this 6
call Map2.drawCat 3
pop temp 0
label IF_FALSE17
push this 11
push this 0
call Player.getX 1
push this 5
push constant 8
sub
gt
and
push this 0
call Player.getX 1
push this 5
push constant 22
add
lt
and
push this 0
call Player.getY 1
push this 6
push constant 16
add
lt
and
push this 0
call Player.getY 1
push this 6
push constant 16
sub
gt
and
if-goto IF_TRUE19
goto IF_FALSE19
label IF_TRUE19
push constant 0
not
pop local 2
label IF_FALSE19
push this 0
call Player.getX 1
push constant 12
push constant 16
call Math.multiply 2
push constant 2
add
gt
push this 0
call Player.getX 1
push constant 12
push constant 16
call Math.multiply 2
push constant 14
add
lt
and
push this 0
call Player.getY 1
push constant 5
push constant 16
call Math.multiply 2
lt
and
if-goto IF_TRUE20
goto IF_FALSE20
label IF_TRUE20
push constant 0
pop this 13
label IF_FALSE20
push this 13
not
if-goto IF_TRUE21
goto IF_FALSE21
label IF_TRUE21
push this 1
call Map2.drawSpike 1
pop temp 0
label IF_FALSE21
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map2.onGround 3
not
if-goto IF_TRUE22
goto IF_FALSE22
label IF_TRUE22
push this 0
push this 7
call Player.moveDown 2
pop temp 0
label IF_FALSE22
push this 1
push this 0
call Player.getX 1
push this 0
call Player.getY 1
call Map2.finished 3
if-goto IF_TRUE23
goto IF_FALSE23
label IF_TRUE23
push constant 0
not
pop local 3
label IF_FALSE23
push this 0
call Player.getY 1
push constant 15
push constant 16
call Math.multiply 2
push constant 14
add
gt
if-goto IF_TRUE24
goto IF_FALSE24
label IF_TRUE24
push constant 0
not
pop local 2
label IF_FALSE24
push this 13
not
push this 0
call Player.getX 1
push constant 12
push constant 16
call Math.multiply 2
push constant 6
sub
gt
and
push this 0
call Player.getY 1
push constant 4
push constant 16
call Math.multiply 2
gt
and
push this 0
call Player.getX 1
push constant 12
push constant 16
call Math.multiply 2
push constant 14
add
lt
and
push this 0
call Player.getY 1
push constant 5
push constant 16
call Math.multiply 2
lt
and
if-goto IF_TRUE25
goto IF_FALSE25
label IF_TRUE25
push constant 0
not
pop local 2
label IF_FALSE25
push this 0
call Player.getX 1
push constant 28
push constant 16
call Math.multiply 2
push constant 8
sub
gt
push this 0
call Player.getX 1
push constant 30
push constant 16
call Math.multiply 2
push constant 8
sub
lt
and
push this 0
call Player.getY 1
push constant 4
push constant 16
call Math.multiply 2
push constant 2
add
lt
and
if-goto IF_TRUE26
goto IF_FALSE26
label IF_TRUE26
push constant 0
not
pop local 2
label IF_FALSE26
push local 2
if-goto IF_TRUE27
goto IF_FALSE27
label IF_TRUE27
push this 8
push constant 1
add
pop this 8
push constant 0
pop local 2
push constant 1000
call Sys.wait 1
pop temp 0
push constant 0
pop this 2
push constant 1
pop this 7
push constant 4
push constant 16
call Math.multiply 2
pop this 3
push constant 15
push constant 16
call Math.multiply 2
push constant 15
add
pop this 4
push constant 19
push constant 16
call Math.multiply 2
pop this 5
push constant 1
push constant 16
call Math.multiply 2
push constant 15
add
pop this 6
push constant 0
not
pop this 9
push constant 0
pop this 10
push constant 0
pop this 11
push constant 0
pop this 12
push constant 0
not
pop this 13
push this 1
call Map2.restart 1
pop temp 0
push this 0
push constant 1
push constant 16
call Math.multiply 2
push constant 12
push constant 16
call Math.multiply 2
push constant 15
add
call Player.restart 3
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 73
call String.appendChar 2
push constant 70
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 88
call String.appendChar 2
push constant 32
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 3
push this 8
sub
call Output.printInt 1
pop temp 0
label IF_FALSE27
push constant 15
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
