function Main.main 3
call Screen.clearScreen 0
pop temp 0
call Startscreen.draw 0
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 48
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 2000
call Sys.wait 1
pop temp 0
call Game0.new 0
pop local 0
push local 0
call Game0.run 1
pop temp 0
push local 0
call Game0.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 49
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 2000
call Sys.wait 1
pop temp 0
call Game1.new 0
pop local 1
push local 1
call Game1.run 1
pop temp 0
push local 1
call Game1.dispose 1
pop temp 0
call Screen.clearScreen 0
pop temp 0
push constant 12
push constant 28
call Output.moveCursor 2
pop temp 0
push constant 7
call String.new 1
push constant 76
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 86
call String.appendChar 2
push constant 69
call String.appendChar 2
push constant 76
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 50
call String.appendChar 2
call Output.printString 1
pop temp 0
push constant 2000
call Sys.wait 1
pop temp 0
call Game2.new 0
pop local 2
push local 2
call Game2.run 1
pop temp 0
push local 2
call Game2.dispose 1
pop temp 0
call End.draw 0
pop temp 0
push constant 0
return
